includes:
  - ./vendor/nunomaduro/larastan/extension.neon

parameters:
  ignoreErrors:
    - '#Class Laravel\\Lumen\\Application not found.#'
    - '#Call to method configure\(\) on an unknown class Laravel\\Lumen\\Application.#'
